<h2>Hi, I'm Madelen. Nice to meet you.</h2>
<div class="slider-frame">
  <a href="/history"><img src="../../../../../assets/img/avatar.jpeg" alt="" /></a>
</div>
<div class="content">
  <p>
    Licenciada en Asistencia Gerencial y Relaciones Públicas con amplia
    experiencia en áreas administrativas y de atención al cliente de productos
    bancarios y médicos, actualmente Front-end developer dispuesta a contribuir
    a la concepción y al desarrollo de proyectos digitales orientados a
    optimizar la interacción y la satisfacción del cliente. Creo en el poder de
    la tecnología para resolver prácticamente cualquier reto actual.
  </p>
</div>