.section {
  margin-bottom: 2rem;

  &__project {
    
    &--list {
      display: grid;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 1.15rem;

      &.card-small {
        grid-template-columns: repeat(5, 1fr);
      }

      &.card-big {
        grid-template-columns: repeat(6, minmax(100px, 1fr));
      }
    }
  }
}
